<%= form_for(@customer, :remote => true, :class => "ui-hide-label") do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.fields_for :tickets do |fi| %>
     <%= render 'ticket_fields', :f => fi %>
    <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
    
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :placeholder => "abc@example.com"  %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :placeholder => "Phone number"  %>
  </div>
  <div class="field">
    <%= f.label :Type %><br />
    <select name="no" data-theme="a">
  		<option value="balcony">Balcony</option>
  		<option value="normal">Normal</option>
  		<option value="elite">Elite</option>
  	</select> 
    <label for="slider">No:</label>
    <input type="range" name="no" id="slider" value="0" min="0" max="10" data-highlight="true" />
  </div>
  <div class="actions" >
      <fieldset class="ui-grid-a">
	<div class="ui-block-a"><button type="submit" data-theme="c">Cancel</button></div>
	<div class="ui-block-b"><%= f.submit "Submit"%></div>	   
</fieldset>
    
  </div>
<% end %>
